main {
    background-color: #E6F2FF;
    margin: 20px;
    display: flex;
}

header {
    background-color: #FFCC99;
    box-shadow: rgba(0, 0, 0, 0.3) 0 5px 10px;
}

h1 {
    text-align: center;
    font-weight: bold;
}

aside {
    background-color: #B3D9FF;
    flex: 1;
}

section {
    flex: 3;
    margin: 20px;
}

aside, footer {
    border: 1px solid #CCC;
}

footer {
    background-color: #99CC99;
    box-shadow: rgba(0, 0, 0, 0.3) 0 5px 10px;
}
